# Python Bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# PyCharm
.idea/

# Database files (Optional: if you have any local DB files)
*.sqlite3
*.db

# Log files
*.log

# .env file (Sensitive data such as DB credentials, API keys, etc.)
.env

# Temporary files created by PyCharm
*.iml
*.iws

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (Optional, in case you're using VS Code along with PyCharm)
.vscode/

# Other system files
.DS_Store
Thumbs.db
